td {
    width: 100px;
    height: 100px;
}

tbody img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
}

#menu > li {
    height: 50px;
    width: 230px;
    border-radius: 5px;
    color:rgb(185, 221, 240) ;
    cursor: pointer;
  }
  
  #menu > li:hover{
    background-color: rgb(225, 127, 15);
  }
  
  
  #menu > li:active{
      background-color: aliceblue;
  }
  
  
  
  #list{
    cursor: pointer;
  }